@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.radix-themes {
  --default-font-family: var(--font-inter);
}

@layer utilities {
  .nav-link {
    @apply text-zinc-400 hover:text-zinc-500 transition-colors;
  }

  .nav-link--active {
    @apply text-zinc-300;
  }
}
